/* Font Definitions */
@font-face
{font-family:SimSun;
    panose-1:2 1 6 0 3 1 1 1 1 1;
    mso-font-alt:SimSun;
    mso-font-charset:134;
    mso-generic-font-family:auto;
    mso-font-pitch:variable;
mso-font-signature:3 680460288 22 0 262145 0;}
@font-face
{font-family:"Cambria Math";
    panose-1:2 4 5 3 5 4 6 3 2 4;
    mso-font-charset:1;
    mso-generic-font-family:roman;
    mso-font-format:other;
    mso-font-pitch:variable;
mso-font-signature:0 0 0 0 0 0;}
@font-face
{font-family:SimSun;
    panose-1:2 1 6 0 3 1 1 1 1 1;
    mso-font-charset:134;
    mso-generic-font-family:auto;
    mso-font-pitch:variable;
mso-font-signature:3 680460288 22 0 262145 0;}
/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
{mso-style-unhide:no;
    mso-style-qformat:yes;
    mso-style-parent:"";
    margin:0cm;
    margin-bottom:.0001pt;
    mso-pagination:widow-orphan;
    font-size:12.0pt;
    font-family:"Times New Roman","serif";
    mso-fareast-font-family:SimSun;
    mso-fareast-theme-font:minor-fareast;
color:black;}
h1
{mso-style-priority:9;
    mso-style-unhide:no;
    mso-style-qformat:yes;
    mso-style-link:"\6807\9898 1 Char";
    mso-margin-top-alt:auto;
    margin-right:0cm;
    mso-margin-bottom-alt:auto;
    margin-left:0cm;
    mso-pagination:widow-orphan;
    mso-outline-level:1;
    font-size:24.0pt;
    font-family:"Times New Roman","serif";
    color:black;
font-weight:bold;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
{mso-style-noshow:yes;
    mso-style-priority:99;
    mso-style-link:"\9875\7709 Char";
    margin:0cm;
    margin-bottom:.0001pt;
    text-align:center;
    mso-pagination:widow-orphan;
    tab-stops:center 207.65pt right 415.3pt;
    layout-grid-mode:char;
    border:none;
    mso-border-bottom-alt:solid windowtext .75pt;
    padding:0cm;
    mso-padding-alt:0cm 0cm 1.0pt 0cm;
    font-size:9.0pt;
    font-family:"Times New Roman","serif";
    mso-fareast-font-family:SimSun;
    mso-fareast-theme-font:minor-fareast;
color:black;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
{mso-style-noshow:yes;
    mso-style-priority:99;
    mso-style-link:"\9875\811A Char";
    margin:0cm;
    margin-bottom:.0001pt;
    mso-pagination:widow-orphan;
    tab-stops:center 207.65pt right 415.3pt;
    layout-grid-mode:char;
    font-size:9.0pt;
    font-family:"Times New Roman","serif";
    mso-fareast-font-family:SimSun;
    mso-fareast-theme-font:minor-fareast;
color:black;}
a:link, span.MsoHyperlink
{mso-style-noshow:yes;
    mso-style-priority:99;
    color:#0000EE;
    text-decoration:underline;
text-underline:single;}
a:visited, span.MsoHyperlinkFollowed
{mso-style-noshow:yes;
    mso-style-priority:99;
    color:#551A8B;
    text-decoration:underline;
text-underline:single;}
p
{mso-style-noshow:yes;
    mso-style-priority:99;
    mso-margin-top-alt:auto;
    margin-right:0cm;
    mso-margin-bottom-alt:auto;
    margin-left:0cm;
    mso-pagination:widow-orphan;
    font-size:12.0pt;
    font-family:"Times New Roman","serif";
    mso-fareast-font-family:SimSun;
    mso-fareast-theme-font:minor-fareast;
color:black;}
tt
{mso-style-noshow:yes;
    mso-style-priority:99;
    font-family:"Courier New";
    mso-ascii-font-family:"Courier New";
    mso-fareast-font-family:SimSun;
    mso-fareast-theme-font:minor-fareast;
    mso-hansi-font-family:"Courier New";
mso-bidi-font-family:"Courier New";}
span.1Char
{mso-style-name:"\6807\9898 1 Char";
    mso-style-priority:9;
    mso-style-unhide:no;
    mso-style-locked:yes;
    mso-style-link:"\6807\9898 1";
    mso-ansi-font-size:22.0pt;
    mso-bidi-font-size:22.0pt;
    font-family:SimSun;
    mso-fareast-font-family:SimSun;
    mso-fareast-theme-font:minor-fareast;
    color:black;
    mso-font-kerning:22.0pt;
font-weight:bold;}
span.Char
{mso-style-name:"\9875\7709 Char";
    mso-style-noshow:yes;
    mso-style-priority:99;
    mso-style-unhide:no;
    mso-style-locked:yes;
    mso-style-link:\9875\7709;
    mso-ansi-font-size:9.0pt;
    mso-bidi-font-size:9.0pt;
color:black;}
span.Char0
{mso-style-name:"\9875\811A Char";
    mso-style-noshow:yes;
    mso-style-priority:99;
    mso-style-unhide:no;
    mso-style-locked:yes;
    mso-style-link:\9875\811A;
    mso-ansi-font-size:9.0pt;
    mso-bidi-font-size:9.0pt;
color:black;}
.MsoChpDefault
{mso-style-type:export-only;
    mso-default-props:yes;
    font-size:10.0pt;
    mso-ansi-font-size:10.0pt;
    mso-bidi-font-size:10.0pt;
    mso-ascii-font-family:"Times New Roman";
    mso-hansi-font-family:"Times New Roman";
mso-font-kerning:0pt;}
/* Page Definitions */
@page
{mso-footnote-separator:url("indexnew.files/header.html") fs;
    mso-footnote-continuation-separator:url("indexnew.files/header.html") fcs;
    mso-endnote-separator:url("indexnew.files/header.html") es;
mso-endnote-continuation-separator:url("indexnew.files/header.html") ecs;}
@page WordSection1
{size:595.3pt 841.9pt;
    margin:72.0pt 90.0pt 72.0pt 90.0pt;
    mso-header-margin:42.55pt;
    mso-footer-margin:49.6pt;
mso-paper-source:0;}
div.WordSection1
{page:WordSection1;}


/* new */

#header {
    width: 100%;
    text-align: center;
}

#footer {
    width: 100%;
}

#footer-v {
}

body {
    width: 70%;
    margin: 0 auto;
}

* {
    line-height: 2em;
}
body{
    max-width: 640px;
    margin: 0 auto;
}

#clist {
    min-height: 300px;
}
